* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.head {
    background: url(./assets/header\ image.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.747);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

strong {
    color: yellow;
}

.head p {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    color: whitesmoke;
}

h1 {
    font-size: 3rem;
    border: 0.5rem white double;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
    color: beige;
}

@media (max-width: 40rem) {
    h1 {
        font-size: 2rem;
    }

    .head p {
        font-size: 1rem;
    }
}

.wwd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 3rem;
    margin-top: 6rem;
}

h2 {
    font-size: 5rem;
    color: #b69609;
}

.selling-point {
    display: flex;
    justify-content: space-around;
}

.selling-points {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    margin-top: 1.7rem;
    background-color: #b31111;
    padding: 0.9rem;
    border: 0.8rem solid #b69609;
    border-radius: 0.8rem;
}

.selling-point h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: 5px 0;
}

.selling-point p {
    color: white;
    font-size: 1.3rem;
}

@media (max-width: 48rem) {
    .selling-point {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .selling-points {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: rgb(145, 145, 7);
    font-weight: 900;
}

footer {
    background: url(./assets/footer-img.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.733);
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* margin-top: 10rem; */
}

.cta {
    width: 50%;
    /* justify-self: center; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.cta h3 {
    font-size: 2.5rem;
    margin: 0.6rem 0;
}

.cta p {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.cta h3, .cta p {
    color: white;
}

footer .img {
    height: 60vh;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: start;
    
}

footer .img img {
    width: 10rem;
    padding: 2rem;
}

.button {
    background: #b31111;
    align-self: flex-start;
    padding: .8rem;
    margin: .6rem 0;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    border: 4px white solid;
    border-radius: 20%;
}

.button a {
    color: white;
}

@media (max-width: 48rem){
    footer {
        flex-direction: column;
    }

    .cta {
        width: 100%;
        justify-self: end;
        margin-top: 50px;
    }

    .cta h3 {
        font-size: 2rem;
        margin: 0.6rem 0;
    }

    footer .img {
        width: 100%; 
        justify-content: end;
    }

    .button {
        font-size: 1rem;
    }

    .cta p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}